{% extends "base.html" %}

{% block content %}
<a href="main"><h3> &lt; Главное меню</h3></a>
    <h1>Комментарии</h1>
    <form action="" method="post">
        <p style="margin-left: 20%;">
        {{ form.comments.label }}<br>
        {{ form.comments(class="form-control") }}<br>
        {% for error in form.comments.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        <p style="margin-left: 20%;" ><a href="main">{{ form.submit(type="submit", class="btn btn-primary", onclick="alert('Вы оставили комментарий')") }}</a></p>
        <div>{{ message }}</div>
    </form>
{% endblock %}