<!DOCTYPE html>
<html>
<head>
<title>Главная страница</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/framework.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
  <div class="g">
    <div class="g-row">
      <div class="g-10">
        <h1>Главная страница</h1>
      </div>
      <div class="g-1">
          <button class="button_to_registration" style="margin-left: 300%;">
                <a title="перейти в телеграм" href="http://t.me/yep2_bot"><img src="{{ url_for('static', filename='css/img/tg.png') }}" alt="Pony Ran"></a>
          </button></div>
      <div class="g-1">
        <button class="button_to_profile">
          <a title="profile" href="profile">&emsp;</a>
        </button></div>
      </div>
    </div>
  </div>
  <div class="g">
    <h3>Добро пожаловать в интернет магазин игр от Temchik&Pupsik Co. ниже вы можете ознакомится с нашим ассортиментом и выбрать именно ту игру, которая будет вам интересна, удачных поисков.</h3><br>
    <h2 style="margin-left: 41%">Наши игры:</h2><br><br><br>
  </div>
  <div class="g">
    <div class="g-row">
      <div class="g-4">
        <a title="Pony Run" href="pony_run"><p><img style="border: 2px solid black; border-radius: 30px;" src="{{ url_for('static', filename='css/img/pony_game.png') }}" alt="Pony Ran"></p></a>
        <a title="Pony Run" href="pony_run"><h4>Pony Run</h4></a>
      </div>
      <div class="g-4">
        &emsp;
      </div>
      <div class="g-4">
        <a title="Politopy" href="politopy"><p><img style="border: 2px solid black; border-radius: 30px;" src="{{ url_for('static', filename='css/img/politopy.png') }}" alt="Politopy"></p></a>
        <a title="Politopy" href="politopy"><h4 style="margin-left: 26%;">Politopy</h4></a>
      </div>
    </div>
  </div>
</body>
</html>
