<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Politopy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/framework.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_games.css') }}">

</head>
<body>
  <div class="g">
    <div class="g-row">
      <div class="g-3">
        <a href="main"><h3 style="margin-left: -60%;"> &lt; Главное меню</h3></a>
      </div>
      <div class="g-9">
        <h1>Politopy</h1>
      </div>
    </div>
  </div>
  <div class="g">
    <div class="g-row">
      <div class="g-4">

        <div id="carousel" class="carousel">
         <button class="arrow prev">⇦</button>
         <div class="gallery">
           <ul>
             <li><img src="{{ url_for('static', filename='css/img/politopy_1.png') }}"></li>
             <li><img src="{{ url_for('static', filename='css/img/politopy_2.png') }}"></li>
             <li><img src="{{ url_for('static', filename='css/img/politopy_3.png') }}"></li>
             <li><img src="{{ url_for('static', filename='css/img/politopy_4.png') }}"></li>
             <li><img src="{{ url_for('static', filename='css/img/politopy.png') }}"></li>
           </ul>
         </div>
         <button class="arrow next">⇨</button>
       </div>

          <button class="button_to_install" onclick="href='main'">
            <a title="Скачать" href="{{ url_for('static', filename='zip_files/politopy.zip') }}" download>&emsp;&emsp;&emsp;&emsp;Скачать&emsp;&emsp;&emsp;&emsp;</a>
          </button>
      </div>
      <div class="g-4">
      <p style="margin-top: 15px;">Politopy - игра-стратегия, в который вы сможете сражаться со своими друзьями за звание самого крутого стратега. Иследуйте технологии, завоёвывайте города и убивайте своих соперников различными способами.</p>
      <h3 style="margin-left: 0%; margin-top: 50px; max-width: 100%;">Оставьте свой комментарий:</h3>
        <button class="button_to_install" style="font-size:16px; margin-left:10%;">
          <a title="profile" href="comments_politopy" style="color: white">Оставить комментарий</a>
        </button>
      </div>
      <div class="g-4">
        <h2>Другие игры:</h2>
        <p><a title="profile" href="pony_run"><img style="margin-left: 20%;" src="{{ url_for('static', filename='css/img/pony_game.png') }}" alt="Pony Run"></a></p>
        <a title="profile" href="pony_run"><h3>Pony Run</h3></a>
      </div>
    </div>
    <h2 style="margin-left: 10%;">Комментарии по игре:</h2>
      {% for i in comments%}
      {% if i[1] %}
        <h3 style="margin-left: 15%; color: white;">{{ i[0] }}:{{ i[1] }}</h3>
      {% endif %}
      {% endfor %}
  </div>

 <script>
   let i = 1;
   for(let li of carousel.querySelectorAll('li')) {
     li.style.position = 'relative';
     li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
     i++;
   }

   let width = 365;
   let count = 1;

   let list = carousel.querySelector('ul');
   let listElems = carousel.querySelectorAll('li');

   let position = 0;

   carousel.querySelector('.prev').onclick = function() {
     position += width * count;
     position = Math.min(position, 0)
     list.style.marginLeft = position + 'px';
   };

   carousel.querySelector('.next').onclick = function() {
     position -= width * count;
     position = Math.max(position, -width * (listElems.length - count));
     list.style.marginLeft = position + 'px';
   };
 </script>
</body>
</html>
